form
{
    margin-top: 10px;
    margin-left: 32%;
    margin-right: 30%;      
}

#Joke_Search
{
    height:30px;
    width:350px;
    border-radius: 15px;
}

#GiggleLogo
{
    margin-left: 25%;
    margin-right: 25%;
}

#TheTeam
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
