/*Gets Rid of Line and Color from Links: */
a:link, a:visited
{
  color:white;
  text-decoration: none;
}

/*Smooth Scrolling in the HTML: */
html
{
  scroll-behavior: smooth;
}

/*****************************************************/

/*Div 1 on Index.html */

.mainTop,.mainBottom
{
  background-color: rgb(165, 165, 165);
}

/*Top Nav-Bar Table/Row: */
#Top_Row
{
    height: 3%;
    width: 90%;
    margin-top: none;;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(255, 48, 48);
    border-radius: 25px;

}
/*Closing Tag Logo Image: */
#Tag_Logo, #Tag_Logo2,#Tag_Logo3
{
    height: 60px;
    border-radius: 50%;
}

.navbar 
{
    overflow: hidden;
 
  }
  
  .navbar a 
  {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropbtn, .dropbtn2, .dropbtn3
  { 
    border-radius: 50%;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
  }
  
  .navbar a:hover, .dropbtn:hover, .dropbtn3:hover
  {
    background-color: white;
  }

/*Nav-Bar Font: */
h2,h1
{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2:hover
{
  color: rgb(165, 165, 165);
}
  
/*Table with Image and Hello in Top Div on Index: */
#Div1_Content
{  
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}
#WaveNick
{
  background-color: white;
  width: 45%;
  border-radius: 15%;
}
#HelloThere
{
  background-color: rgb(255, 48, 48);
  width: 45%;
  border-radius: 15%;
  padding-left: 2%;
}

/************************************************/

/*Div 2 on Index.html: */

.main2
{
  background-color: white;
}

.dropbtn2:hover
{
  background-color: rgb(255, 48, 48);
}

/*Table with Image and Description in Second Div on Index: */
#Div2_Content
{  
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}
#NickImage
{
  background-color: white;
  width: 100%;
  border-radius: 15%;
}
#AboutMe
{
  background-color: rgb(255, 48, 48);
  width: 45%;
  border-radius: 15%;
  padding-left: 2%;
}

/*********************************************/

/* Div 3 on Index.html: */

.main3
{
  background-color:rgb(255, 48, 48);
}

#Div3_Content
{
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

/*Slideshow Container: */
.Slideshow_container
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*Hide the Images by Default: */
.theSlides 
{
  display: none;
}

/*The Navigation Buttons: */
/* Position the image container (needed to position the left and right arrows) */
.container 
{
  position: relative;
}

/* Hide the images by default */
.mySlides 
{
  display: none;
  width: 70%;
  margin-left: 25%;
  margin-right: 25%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor 
{
  cursor: pointer;
}

/* Next & previous buttons */
.prev,.next 
{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
#git:hover,
#email:hover
{
  background-color: white;
}

/* Number text (1/# etc) */
.numbertext 
{
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}


/*********************************************/

/* Div 4 on Index.html: */

#Div4_Content
{  
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

#Resume
{
  background-color: white;
  width: 30%;
  border-radius: 15%;
  padding-left: 2%;
}
#ResumeText
{
  color:rgb(255, 48, 48);
}

#resumeDoc
{
  background-color:rgb(255, 48, 48);
  width: 50%;
  font-size: 125%;
  border-radius: 15%;
  padding: 2%;
}
#resumeDoc:hover
{
  background-color:rgb(165, 165, 165);
}

#links
{
  background-color:rgb(255, 48, 48);
  width: 65%;
  border-radius: 15%;
  padding: 13%;
}
#GitHub_Icon
{
  width: 20%;
  border-radius: 50%;
}
#E-Mail_Icon
{
  width: 20%;
  padding-left: 4.5%;
}
#YouTube_Icon
{
  width: 20%;
  padding-left: 4.5%;
}
#LinkedIn_Icon
{
  width: 20%;
  padding-left: 4.5%;
}

/***********************************************************************/

/* Trying to make the Section Divs Fill the screen: */
.mainTop, .mainBottom, .main3
{
  height: 100vh;
}





